<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ site.url }}/assets/css/main.css">
  </head>
  <body>
    <nav id='menu'>
      <header>
        <h2>Menu</h2>
      </header>
    </nav>
    <div class='page-wrap' id='panel'>
      {% include header.html %}

      <main>

        {{ content }}
      </main>

      {% include footer.html %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{{ site.url }}/assets/js/slideout.min.js"></script>
    <script>
      var slideout = new Slideout({
        'panel': document.getElementById('panel'),
        'menu': document.getElementById('menu'),
        'padding': 256,
        'tolerance': 70
      });

      // Toggle button
      document.querySelector('.toggle-button').addEventListener('click', function() {
        slideout.toggle();
      });
    </script>
    <script src="{{ site.url }}/assets/js/functions.js"></script>
  </body>
</html>
